

/*
    FOOTER
 */
#footer {
    background-color: var(--background-dark);
    color: var(--text);
    padding: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#footer #socials {
    display: grid;
    max-width: 12rem;
    margin: 0 auto 1rem auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
#footer .social-link svg {
    fill: #a1a1a1;
}
#footer .social-link:hover svg {
    fill: #878787;
}

/* 
    HOME PAGE
 */
#home {
    display: flex;
    flex-direction: column;
}
#home h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
}
#home-grid {
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 60rem;
}
.project-card {
    padding: 0;
    border: 1px solid #51595c;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.project-card .card-cover img {
    max-width: 100%;
}
.project-card .card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
}
.project-card .card-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.project-card .card-description {
    margin-bottom: 1rem;
    flex-grow: 1;
}
.project-card .card-tags {
    border-top: 1px solid #51595c;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

/*
    POST PAGE
 */
.container {
    max-width: 80rem;
    width: 100%;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}
.content {
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container img {
    max-width: 100%;
    border-radius: 0.5rem;
}
.container h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.container h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.container h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.container li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.container p,
.container span:not(pre span) {
    line-height: 1.4;
}
.container .column-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
@media screen and (max-width: 991px) {
    .container .column-layout {
        flex-direction: column;
        gap: 0.2em;
    }
}

.post-header {
    height: 30rem;
    margin: 3rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: 50%;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
}
.post-header .post-title {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.post-tags {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    color: white;
    background-color:  rgb(0, 0, 0);
    border-top-right-radius: 0.75rem;
    display: flex;
    gap: 0.25rem;
}

@media screen and (max-width: 480px) {
    .post-header {
        margin: 0.5rem;
        margin-bottom: 1.25rem;
    }
}

/* 
    ABOUT PAGE
 */
.about .intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
}
.about .intro img {
    border-radius: 99999px;
}

.about .skills-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.about .skills-container ul {
    padding-left: 1rem;
}

.about .education-item {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.about .education-item p {
    margin: 0;
    padding: 0;
}

/* Small screen laptops */
@media screen and (max-width: 991px) {
    .content {
        max-width: none;
        width: auto;
        padding: 1rem;
    }
    .about .intro {
        flex-direction: column;
        gap: 0;
        padding: 1;
    }
    .about .intro img {
        max-width: 10rem;
    }
    .about ul {
        padding-left: 1rem;
    }
    .about ul ul {
        padding-left: 1.5rem;
    }

    .about .education-item {
        flex-direction: column;
        gap: 0.25rem;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    .about .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
    .about .skills-container {
        grid-template-columns: 1fr;
    }
}