{{ define "main" }}

<div class="container">
    <div class="content about">
        <div class="intro">
            <div class="intro-content">
                <h2>Hi there!</h2>
                    <p>I'm Neil De Hert! An enthusiastic gameplay programmer heralding from Antwerp, Belgium. I love games, and love talking about the different stories that come from this digital hobby we share.</p>
                    <p>I’ve specialized in <b>Unity development</b>, know my way around Unreal Engine, have a focus on <b>multiplayer networking</b>, performance focused development, and implementing third-party software.</p>
                    <p>Over the past years of development, I’ve polished being a good team-player, improved my feedback loop and looking for better solutions, and have learned to correctly respect deadlines.</p>
                    <p>I love sports, and can often be found reading, enjoying new stories.</p>
                    <p>I thrive in groups, I am always up for a talk, and I love creating a good atmosphere. Working in a group as well as a feedback loop are situations I revel in. I love sports, books and stories in general.</p>
                    <p>I love traveling to see friends and/or different countries, and will never shy away from an in depth conversation about a story you love.</p>
            </div>
        </div>

        <div class="secondary-intro">
            <div class="intro-image">
                    {{ $image := resources.GetMatch "profile_pic.jpg" }}
                    <img src="{{ $image.RelPermalink }}" height="300px" width="auto"/>
            </div>

            <div class = "skill-section">
                <h2>My Skills</h2>
                <div class= "skills-container">
                    <div class="skils">
                        <p>C#, C++, UE Blueprinting</p>
                        <p>Unity, Unreal Engine</p>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        <br />

        <h2>My Career</h2>
        

            <p>
                Sep 2021 - Present // <b>Gameplay Programmer</b> @
                <i><a href="https://www.triangle-factory.be/" target="_blank">Triangle Factory</a> (BE)</i>
            </p>
            <ul>
                Started working as a gameplay programmer at Triangle Factory doing client work for 
                <a href="https://transfrinc.com/" target="_blank">Transfr</a>.
            </ul>
            <ul>
                After half a year I switched to working as a gameplay programmer for <a href="https://www.breachersvr.com/" target="_blank">Breachers</a> 
                and then <a href="https://www.triangle-factory.be/forefront/" target="_blank">Forefront</a>.
            </ul>

            <p>
                Feb 2021 - Sep 2021 // <b>Junior gameplay Programmer</b> @
                <i><a href="https://onebonsai.com/" target="_blank">OneBonsai</a> (BE)</i>
            </p>
            <ul>Designing and supporting VR trainings made for different clients.  </ul>
            <ul>Creating new, reusable features to be used in different projects where possible </ul>
            <ul>Helping out with bugs and features in different trainings </ul>

        

        <br />

        <h2>My Education</h2>
        <div>
            <div class="education-item">
                    <p>
                        2017 - 2021 // <a href="https://www.howest.be/en" target="_blank">Howest University of Applied Sciences</a>, Kortrijk (BE)
                    </p>
                    <ul><b>Bachelor's Degree in Game Development in Digital Arts and Entertainment</b></ul>
            </div>
        </div>
    </div>
</div>
{{ end }}
