{{ define "main" }}

<style>
#wrapper {
    width: 500px;
    /* border: 1px solid black; */
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 500px;
    float:left; /* add this */
    /* border: 1px solid red; */
}
#second {
    /* border: 1px solid green; */
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
</style>

<div class="container">
    <div class="content about">
        <div class="intro" id="#wrapper">
            <div class="intro-content" id="first">
                <h2>Hellow!</h2>
                <p>
                    I'm Neil De Hert! An enthousiastic gameplay programmer heralding from Antwerp, Belgium. I love games, and love talking about the different stories that come from this digital hobby we share.
                </p>
                <p>
                   I thrive in groups, I am always up for a talk, and I love creating a good athmosphere. Working in a group as well as a feedback loop are situations I revel in. I love sports, books and stories in general.
                   I love traveling to see friends and/or different countries, and will never shy away from an in depth conversation about a story you love.
                </p>
            </div>
            
            <div class="intro-image" id="second">
                {{ $image := resources.GetMatch "profile_pic.jpg" }}
                <img src="{{ $image.RelPermalink }}" height="300px" width="auto"/>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <div class = "skill-section">
            <h2>My Skills</h2>
            <div class= "skills-container">
                <div class="skils">
                    <h4>Game Development</h4>
                    <ul>
                        <li>C++, C#, UE Blueprinting</li>
                        <li>Unity, Unreal 4</li>
                        <li>Git, Perforce</li>
                        <li>3dsMax, Photoshop</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <br />
        <br />

        <h2>My Carreer</h2>
        <ul>
            <li>
                 <p>
                    Sep 2021 - Present // <b>Gameplay Programmer</b> @
                    <i><a href="https://www.triangle-factory.be/" target="_blank">Triangle Factory</a> (BE)</i>
                </p>
                <ul>
                    <li>
                        <span style="white-space: pre-line">
                        Started working as a gameplay programmer at Traingle Factory doing client work for Transfr.
                        Later I started working as a gameplay programmer for Breachers and then Forefront.
                        </span>
                    </li>
                </ul>
                <ul><a href="https://transfrinc.com/" target="_blank">Transfr</a></ul>
                <ul><a href="https://www.breachersvr.com/" target="_blank">Breachers</a></ul>
                <ul><a href="https://www.triangle-factory.be/forefront/" target="_blank">Forefront</a></ul>
                
                <p>
                    Feb 2021 - Sept 2021 // <b>Junior gameplay Programmer</b> @
                    <i><a href="https://onebonsai.com/" target="_blank">OneBonsai</a> (BE)</i>
                </p>
                <ul>
                    <li>
                        Designing and supporting VR trainings made for different clients. 
                    </li>
                    <li>Creating new, reusable features to be used in different projects where possible</li>
                    <li>Helping out with bugs and features in different trainings</li>
                </ul>
            </li>
        </ul>

        <br />

        <h2>My Education</h2>

        <div>
            <div class="education-item">
                <div class="education-year">
                    <p>2017 - 2021</p>
                </div>
                <div class="education-description">
                    <p>
                        <b>Bachelor's Degree in Game Development in Digital Arts and Entertainment</b><br />
                        <i>
                            <a href="https://www.howest.be/en" target="_blank">Howest University of Applied Sciences</a
                            >, Kortrijk (BE)
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}