{{ define "main" }}
<main id="home">
    <div id="home-introduction">
        <h2>Hellow!</h2>
        <p>
            I'm Neil and welcome to my little corner on the internet. 
        </p>
        <p>
            The below listing is a rough timeline estimating and showcasing the things I've done over the years,  enjoy!
        </p>
    </div>
    <h1>My work</h1>
    <div id="home-grid">
        {{ range .Site.RegularPages }}
            {{ if .Params.Featured }}
                <div class="timeline-item">
                <!-- timeline stuff -->
                <div class="timeline-container">
                    <div class="timeline-line"></div>
                    <div class="timeline-circle"><div class="timeline-year">{{ .Params.Date | time.Format "2006" }}</div></div>
                </div>

                <!-- card -->
                <div class="card">
                    <div class="card-img">
                        <a href="{{ .RelPermalink }}" class="card-cover">
                            {{ $image := .Resources.GetMatch .Params.Cover }}
                            <img src="{{ $image.RelPermalink }}" />
                        </a>
                    </div>

                    <div class="card-content">
                        <div class="card-title">
                            {{ .Title }}
                        </div>

                        <div class="card-description">
                            {{ .Params.Description }}
                        </div>

                        <div class="card-tags">
                            {{ range .Params.Tags }}
                                <span class="tag">
                                    {{ . }}
                                </span>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}